<%= form_for(@homework_two) do |f| %>
  <% if @homework_two.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homework_two.errors.count, "error") %> prohibited this homework_two from being saved:</h2>

      <ul>
      <% @homework_two.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
